@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
    background: #21283a;
    overflow: hidden;
}


.banner::before{
content: '';
position: absolute;
top: 50%;
right: 150px;
transform: translateY(-50%);
width: 500px;
height: 500px;
background: #1de5ff;
border-radius: 100%;
box-shadow: 0 0 20px #1de5ff,
0 0 50px #1d9dff,
0 0 150px #1d9dff;
transition: 1s;
}

section.active::before{

    background: #21283a;
    box-shadow: 0 0 1200px #141821;
}

section.active .logo,
section.active .content{
transform: scale(0);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

header .logo{
    font-size: 1.5em;
    color:white;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    transform-origin: left;
}

header .logo span{
    color: #1de5ff;
    border-bottom: 4px solid #1de5ff;
}

header .toggle{
    position: relative;
    width: 30px;
    height: 30px;
    background: url(images/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
}

header .toggle.active{
    
    background: url(images/close.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40px;
}

.zah{
    position: absolute;
    bottom: 360px;
    right: 370px;
    width: 500px;
}

.content{
position: relative;    
z-index: 1;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
transition: 0.5s;
transform-origin: left;
}

.content .contentBox{
    position: relative;
    max-width: 600px;
    z-index: 100;
}

.content .contentBox h4{
   font-weight: 400;
   color: #1de5ff;
   font-size: 1.5em;
   letter-spacing: 2px;
   margin-bottom: 10px;
}

.content .contentBox h2{
    font-size: 4em;
    line-height: 1em;
    color: #fff;
}
.content .contentBox h3{
    font-weight: 300;
    color: #fff;
    font-size: 2em;
    line-height: 1.5em;
}

.content .contentBox p{
    font-size: 1em;
    color: #fff;
    padding: 10px 0;
}

.content .contentBox a{
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    margin-right: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #1d9dff;
    letter-spacing: 2px;
    transition: 0.5s;
}

.content .contentBox a:last-child{
    background: #1de5ff;
    color: #111;
}

.content .contentBox a:hover{
    box-shadow: 0 0 15px #1de5ff,
    0 0 40px #1de5ff;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    z-index: 2;
    padding-left: 100px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

section.active .menu {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.menu li{
    list-style: none;
}

.menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
    transition: 0.25s;
}

.menu li:hover a{
    letter-spacing: 6px;
    background: white;
    color: #161a23;
}

.menu p{
    font-size: 1em;
    color: #fff;
    padding: 10px 0;
    justify-content: center;    
    bottom: 500px;

}

@media (max-width:991px) {
    section {
        padding: 40px;
    }
    header {
        padding: 20px 40px;
    }
    section::before {
        opacity: 0;
    }
    .zah{
        right: -100px;
        opacity: 0.3;
    }
    .content .contentBox {
        margin-bottom: 10px;
    }

    .menu{
        padding-left: 0;
        align-items: center;
    }
.content .contentBox h2 {
    font-size: 2.2em;
    line-height: 1em;
    color: white;
}
}
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
  }
  
  .section__text {
    align-self: center;
    text-align: center;
  }
  
  .section__text p {
    font-weight: 600;
  }
  
  .section__text__p1 {
    text-align: center;
  }
  
  .section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: 3rem;
    text-align: center;
  }
  
  #socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }
  
  /* ICONS */
  
  .icon {
    cursor: pointer;
    height: 2rem;
  }
  
  /* BUTTONS */
  
  .btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
  }
  
  .btn-color-1,
  .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
  }
  
  .btn-color-1:hover,
  .btn-color-2:hover {
    cursor: pointer;
  }
  
  .btn-color-1,
  .btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
  }
  
  .btn-color-1:hover {
    background: rgb(0, 0, 0);
  }
  
  .btn-color-2 {
    background: none;
  }
  
  .btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
  }
  
  .btn-container {
    gap: 1rem;
  }

  #about {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    background: linear-gradient(to top, #5c87ae, #21283a); /* Gradient from white to #21283a */


  }
  
  .about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .about-details-container {
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 20px;
    border-radius: 2rem;
    background: transparent; /* Remove background color to allow the gradient */
  }


 
  
  .about-containers,
  .about-details-container {
    display: flex;
  }
  
  .about-pic {
    height: 400px; /* Set your desired height */
    width: 400px;  /* Set your desired width */
    object-fit: cover; /* Ensures the image fits nicely if the aspect ratio is different */
  }
  
  
  .section__pic-container {
    display: flex;
    height: auto;
    max-width: 50%;
    width: 50% ;
    margin: auto;
    justify-content: center;
    align-items: center;
   }

  .about-pic {
    border-radius: 2rem;
    align-items: center;
    right: 900px;
  }
  
  .arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
  }
  
  .details-container {
    padding: 1.5rem;
    flex: 10;
    background: #21283a;
    border-radius: 4rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .section-container {
    gap: 4rem;
    height: 80%;
  }

  /* services*/


  .services {
    margin-top:70px;
    margin-bottom:20px;
    background: #1d9dff;
  }

  .services h12  {
    display:block;
    font-size:25px;
    margin-top:20px;
    color: #111;
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  }

  .services p12  {
    display:block;
    font-size:15px;
    margin-top:20px;
    color: #111;
    -webkit-text-stroke-width: 1px;

  }
  
  
  .services .icon {
    position:relative;
    width:175px;
    height:175px;
    margin:0 auto;
    text-align:center;
    line-height:180px;
    font-size:56px;
    color:#fff;
    border-radius:50%;
    box-shadow:0 0 0 0 rgba(0,0,0,0.0);
    margin-bottom:40px;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
    border: 1px solid #1de5ff;
    color:#1de5ff;
  }
  .services .item:hover .icon {
    background: #1de5ff;
    border: 1px solid #1de5ff;
  }
  .services .item [class*=fa] {
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
  }
  .services .item:hover [class*=fa] {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
    color:#fff;
  }
  .features-wrapper {
    margin:70px 0 0;
  }
  i.respons {
    position:relative;
    width:35px;
    height:35px;
    margin:0 auto;
    line-height:35px;
    text-align:center;
    font-size:15px;
    color:#fff;
    border-radius:50%;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
    border:1px solid #CCCCCC;
    color: #CCCCCC;
  }
  /* ==========================================================================iPhone Section========================================================================== */
  .iphone {
    width:50%;
    background:#f3f5f8;
    float:left;
    height:100%;
    box-shadow:inset -15px -11px 40px -6px rgba(0,0,0,0.1);
    -moz-box-shadow:inset -15px -11px 40px -6px rgba(0,0,0,0.1);
    -webkit-box-shadow:inset -15px -11px 40px -6px rgba(0,0,0,0.1);
    z-index:1;
  }
  .fluid-white {
    width:50%;
    background:#fff;
    float:right;
    height:100%;
    z-index:2;
  }
  .responsive-services {
    position: relative;
  }
 
  
  /* PROJECTS SECTION */
  
  #projects {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    background: linear-gradient(to bottom, #5c87ae, #21283a); /* Gradient from white to #21283a */

  }
  
  .color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
  }
  
  .project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
  }
  
  .project-title {
    margin: 1rem;
    color: black;
  }
  
  .project-btn {
    color: black;
    border-color: rgb(0, 0, 0);
  }
  
  /* Projects */

  .swag {
    padding: auto; /* Adjust based on your layout */
    background: linear-gradient(to bottom, #5c87ae, #21283a); /* Gradient from white to #21283a */

}

  .swag h10 {
    text-transform:uppercase;
    letter-spacing:10px;
  }
  .swag h10 span {
    display:block;
    font-size:45px;
    margin-top:20px;
    color: #111;
    -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;

  }
  .down-arrow-btn {
    width:auto;
    height:40px;
    background:rgba(0,0,0,0.6);
    display:inline-block;
    margin:15px 5px 15px 5px;
    color:#fff;
    font-size:16px;
    line-height:40px;
    padding:0px 10px;
    text-align:center;
  }
  .down-arrow-btn:hover,.down-arrow-btn:focus {
    color:#fff;
    background:rgba(0,0,0,1);
  }
  .portfolio img {
    height: 300px; /* Adjust to match the rest of your site's style */
    width: 100%; 
}

img.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.6s ease;
}


img.grayscale:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

  
  img.grayscale:hover {
    filter:none;
    -webkit-filter:grayscale(0%);
  }
  .row-offset-0 {
    margin-left:0;
    margin-right:0;
  }
  .row-offset-0>* {
    padding-left:0;
    padding-right:0;
  }
  .effects {
    padding-left:15px;
  }
  .effects .img {
    position:relative;
    position:relative;
    z-index:1;
    overflow:hidden;
  }
  .effects .img:nth-child(n) {
    margin-right:5px;
  }
  .effects .img:first-child {
    margin-left:-15px;
  }
  .effects .img:last-child {
    margin-right:0;
  }
  .effects .img img {
    display:block;
    margin:0;
    padding:0;
    height:auto;
  }
  .overlay {
    display:block;
    position:absolute;
    z-index:20;
    filter:none!important;
    -webkit-filter:grayscale(0%);
    overflow:hidden;
    transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
  }
  .overlay-effect .img i {
    font-size:30px;
  }
  .overlay-effect .overlay {
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    opacity:0;
  }
  .overlay-effect .overlay a.expand {
    left:0;
    right:0;
    bottom:47%;
    margin:0 auto -30px auto;
  }
  .overlay-effect .img.hover .overlay {
    height:100%;
    opacity:1;
  }
  .img img {
    width:-webkit-calc(100%+40px) !important;
    width:calc(100%+40px) !important;
    -webkit-transition:opacity 0.35s,-webkit-transform 0.35s;
    transition:opacity 0.35s,transform 0.35s;
    -moz-transition:opacity 0.35s,-moz-transform 0.35s;
    -o-transition:opacity 0.35s,-o-transform 0.35s;
    -webkit-transform:translate3d(-40px,0,0);
    transform:translate3d(-40px,0,0);
    -ms-transform:translate3d(-40px,0,0);
  }
  .img:hover img {
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -ms-transform:translate3d(-40px,0,0);
  }
  .hype {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    top: 50px;
  }

  /* CONTACT */
  
  #contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
  }
  
  .contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
  }
  
  .contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
  }
  
  .contact-info-container p {
    font-size: larger;
  }
  
  .contact-icon {
    cursor: default;
  }
  
  .email-icon {
    height: 2.5rem;
  }
  
  /* FOOTER SECTION */
  
  footer {
    height: 26vh;
    margin: 0 1rem;
  }
  
  footer p {
    text-align: center;
  }


  